{% extends 'index.html' %}

{% block titolo %}
  Questa è la mia pagina home
{% endblock %}

{% block Intestazione %}
<img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="200">
  <h1>Assistenza e Contatti</h1>
  <p>Hai bisogno di aiuto? Contattaci!</p>
  <p>Per assistenza, puoi contattarci tramite i seguenti canali:</p>
  <ul>
    <li>Email: assistenza.pagopa@gmail.it</li>
    <li>Telefono: 800 123 456</li>
    <li>Fax: 800 123 457</li>
    <li>Indirizzo: Via Roma, 123, 72020 Cellino San Marco BR</li>
    <li>Orari: Lunedì - Venerdì, 9:00 - 18:00</li>
  </ul>
  <p>Puoi anche visitare la nostra <a href="https://www.pagopa.it/it/assistenza/">pagina di assistenza</a> per ulteriori informazioni.</p>
  <p>Per segnalazioni o richieste specifiche, compila il nostro <a href="https://www.pagopa.it/it/contatti/">modulo di contatto</a>.</p>

  <p>Ti risponderemo il prima possibile!</p>
  <p>Grazie per aver scelto pagoPA!</p>
  <p>Il nostro team è qui per aiutarti.</p>
  <p>Seguici sui nostri canali social per rimanere aggiornato sulle ultime novità e promozioni!</p>
  <ul>
    <li><a href="https://www.facebook.com/pagopa">Facebook</a></li>
    <li><a href="https://twitter.com/pagopa">X</a></li>
    <li><a href="https://www.instagram.com/pagopaspa/">Instagram</a></li>
  </ul>
  {% endblock %}

