{% extends 'index.html'%}

{% block titolo %}
  Questa è la mia pagina home
{% endblock %}

{% block Intestazione %}
<h1>Un sistema semplice e trasparente per i tuoi pagamenti verso le PA</h1>
  <p>pagoPA è la piattaforma nazionale che ti permette di scegliere, secondo le tue abitudini e preferenze, come pagare tributi, imposte o rette verso la Pubblica Amministrazione e altri soggetti aderenti che forniscono servizi al cittadino.</p>
  <h1>Un modo più semplice per gestire e rendicontare i pagamenti</h1>
  <p>pagoPA permette alle Pubbliche Amministrazioni di gestire gli incassi in modo centralizzato, offrendo servizi automatici di rendicontazione e riconciliazione con un significativo risparmio nei costi di gestione.</p>
{% endblock %}