{% extends 'index.html'%}

{% block titolo %}
  Questa è la mia pagina home
{% endblock %}

{% block Intestazione %}
<img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="200">
<h1>Paga come vuoi,
  quando vuoi!</h1>
<p>Con pagoPA puoi gestire i tuoi pagamenti verso la Pubblica Amministrazione in modo semplice e immediato, sui canali fisici e su quelli online: verifica le opzioni disponibili e scegli quelle più adatte alle tue esigenze.</p>
<p>Puoi pagare in contanti, con carta di credito, bonifico bancario o domiciliazione bancaria. Scegli il metodo di pagamento che preferisci e segui le istruzioni per completare la transazione.</p>
<p>Per maggiori informazioni sui metodi di pagamento disponibili, visita la nostra <a href="https://www.pagopa.it/it/faq/"></a>pagina FAQ,oppure la nostra sezione Assistenza e Contatti.</p>
<p>Ti ricordiamo che tutti i pagamenti effettuati tramite pagoPA sono sicuri e tracciabili. Non esitare a contattarci per qualsiasi domanda o chiarimento.</p>
<p>Per maggiori informazioni vedere la nostra sezione dedicata a pagoPA.</p>
<p>Grazie per aver scelto pagoPA!</p>
<table border="2" style="border-collapse: collapse; width: 100%;">
  <tr style="background-color: #f2f2f2;">
    <td colspan="4" style="text-align: left; font-weight: bold; border-right: 2px solid black;">Vantaggi e Sicurezza</td>
  </tr>
  <tr>
    <td style="background-color: #1e90ff; border: 2px solid black;">Per i cittadini</td>
    <td style="background-color: #1e90ff; border: 2px solid black;">Per le Pubbliche Amministrazioni</td>
    <td style="background-color: #1e90ff; border: 2px solid black;">Per i PSP</td>
  </tr>
</table>
{% endblock %}