{% extends 'index.html' %}

{% block titolo %}
  Questa è la mia pagina home
{% endblock %}

{% block Intestazione %}
<img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="200">
  <h1>Sei tu a scegliere dove pagare!</h1>
    <p>Con pagoPA puoi gestire i tuoi pagamenti verso la Pubblica Amministrazione in modo semplice e immediato, sui canali fisici e su quelli online: verifica le opzioni disponibili e scegli quelle più adatte alle tue esigenze.</p>
  <div style="display: flex; align-items: center;">
  <h1 style="margin-right: 10px;">Paga con IO</h1>
  <img src="{{ url_for('static', filename='io.png') }}" alt="Logo" width="60">
  </div> 
  
  <ul>
    <li>Usa i metodi di pagamento salvati nel tuo Portafoglio</li>
    <li>Scegli il gestore della transazione (PSP) a te più conveniente</li>
    <li>Conserva le ricevute in un unico posto</li>
    <li>Controlla lo stato dei tuoi pagamenti</li>
    <li>Ricevi notifiche sui pagamenti in scadenza</li>
  </ul>
  <div>
    <h1>Non hai l'app? Paga online</h1>
    <p>Puoi pagare con carta, conto e app di pagamento. Potrai scegliere il gestore della transazione (PSP) a te più conveniente.</p>
    <p>Puoi pagare anche presso i punti vendita abilitati, come tabaccai, supermercati e ricevitorie.</p>
    <p>Puoi pagare anche presso gli sportelli della Pubblica Amministrazione.</p>
  </div>
  <div>

    <h2>Paga Online</h2>
    <h3>Sul sito del tuo Ente Creditore</h3>
    <p>Segui i passaggi richiesti dall'Ente e completa il pagamento tramite pagoPA. Potrai scegliere il gestore della transazione (PSP) a te più conveniente.</p>
  

    <h3>Sul tuo servizio di home banking</h3>
    <p>Accedi al portale della tua banca, cerca nel menu pagoPA e paga con il tuo conto corrente.</p>
  
   
  
    <h3>Sulla tua app di pagamenti</h3>
    <p>Apri la tua app di pagamenti preferita, cerca nel menu pagoPA e inquadra il codice QR del tuo avviso.</p>
  
    <h3>Sui servizi di pagamento online</h3>
    <p>pagoPA è integrato anche nei principali servizi di pagamento online, che puoi utilizzare anche se non sei loro cliente.</p>
  


{% endblock %}
